* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff7e7;
  font-family: Georgia, "Times New Roman", Times, serif;
}
li a button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}
.nav {
  text-decoration: none;
  padding-top: 20px;
}
.nav li {
  display: inline-block;
  text-decoration: none;
}
.nav li a {
  margin: 15px;
  text-decoration: none;
  color: black;
}

header button {
  padding: 7px 7px;
  background-color: #f95c19;
  border: none;
  border-radius: 0px;
  color: rgb(249, 249, 249);
  margin-left: 15px;
}
button:hover {
  background-color: #f95c19;
}
header img {
  margin-right: auto;
}
a {
  padding-top: 20px;
  margin-left: 5px;
}
.section {
  color: #11111d;
  display: flex;
  padding-top: 130px;
  margin-left: 121.96px;
  margin-right: 121.96px;
  padding-bottom: 200px;
}
.section img {
  height: 300px;
  margin-left: 300px;
  width: 700px;
}
.section h1 {
  padding-top: 50px;
  font-size: 2.58rem;
  width: 150%;
  color: #303030;
}
.section h5 {
  margin-top: 10px;
}

.dugme a button {
  margin-top: 40px;
  margin-left: 0px;
  background-color: #f95c19;
  border: none;
  border-radius: 0px;
  color: rgb(249, 249, 249);
  padding: 7px 7px;
}
.dugme i {
  padding-left: 5px;
}
.servisi {
  text-align: center;
  padding-top: 70px;
}
.servisi h5 {
  color: #f95c19;
  font-size: 0.9rem;
  margin-bottom: 8px;
}
.kartice {
  padding: 28.8px 16px;
  display: flex;
  justify-content: center;
  margin-right: 57px;
  margin-left: 57px;
}
.kartica {
  height: 450px;
  width: 350px;
  background-color: white;
  margin: 11px;
  border: 1px;
  border-radius: 5px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 45px;
  padding-bottom: 13px;
}
.kartica img {
  vertical-align: middle;
  height: 65px;
  max-width: 100%;
}
.kartica h4 {
  margin-top: 28px;
  margin-bottom: 28px;
}
.kartica p {
  color: #2f2e41;
  line-height: 20px;
  text-align: justify;
  font-size: small;
  margin-bottom: 16px;
}
.kartica li {
  text-align: left;
  padding-left: 0px;
  margin-bottom: 8px;
}
.kartica ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 55px;
}
.kartica i {
  font-size: 7px;
  padding-right: 8px;
  color: #f95c19;
}

.tapkanje {
  width: 100%;
  height: 30px;
  color: #f95c19;
  background-color: white;
  padding: 6px 12px 6px;
  border-color: #f95c19;
  border-radius: 4px;
  cursor: pointer;
}
.tapkanje:hover {
  color: white;
}
.stiskanje {
  border: 0.5px;
  border-color: #f95c19;
  border-radius: 4px;
}
.bacanje button {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #f95c19;
  padding: 6px 12px 6px;
  border-color: #f95c19;
  border-radius: 4px;
  cursor: pointer;
}
